@charset "UTF-8";

html,
body {
    margin: 0;
    padding: 0;
    min-height: 100%;
    background-color: #186AC9;
    background-image: linear-gradient(0deg, #FFDA26 0%, #5caced 42%, #186AC9 100%);
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
}

header {
    text-align: center;
    margin-bottom: 40px;
}

/* body {
    background: #186AC9;
} */


h1 {
    text-align: center;
    color: white;
    font-size: 36px;
    margin-bottom: 0px;
}

.atlas-img {
    width: 10.5%;
    height: auto;
}

.sub-title {
    color: white;
    font-size: 48px;
    font-weight: 900;
    margin-left: -2.7%;
}

.space-large {
    padding-top: 220px;
    padding-bottom: 80px;
}

.space-small {
    padding-top: 60px;
    padding-bottom: 55px;
}
